!!! 5
%html
    %title
        =@title
    %head
        = stylesheet_link_tag 'application'

        = javascript_include_tag 'application'
        = csrf_meta_tags
    %body
        %nav{:class => "navbar navbar-default", :role => "navigation"}
            %div{:class => "navbar-header"}
                %button{:type => "button", :class =>"navbar-toggle", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
                    %span{:class => "sr-only"} Toggle navigation
                    %span{:class => "icon-bar"}
                    %span{:class => "icon-bar"}
                    %span{:class => "icon-bar"}
                %div{:class=> "brand"}Enana
        %div{:class => "collapse navbar-collapse", :id =>"bs-example-navbar-collapse-1"}
            %ul{:class => "nav navbar-nav"}
                %li= link_to 'About', '#'
    = yield